#chessboard .tile {
  width: 100px;
  height: 100px;
  display: grid;
  place-content: center;
}
#chessboard .black-tile {
  background-color: #779556;
}
#chessboard .white-tile {
  background-color: #f0d9b5;
}
.tile img {
  width: 80px;
}
.chess-piece {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80px;
}
.chess-piece:hover {
  cursor: grab;
}
.chess-piece:active {
  cursor: grabbing;
}
